<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title></title>
</head>
<body>
    <div class="contact-container">
        <form action="" method="post">
            <input type="hidden" name="" value="false">
            <input type="text" name="Username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <textarea name="message" id="4890" cols="30" rows="5" placeholder="Type your message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>