<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title></title>
    <style>
        body{
            font-family: 'Times New Roman', Times, serif;
        }
        product{
        width: 200px;
        height: 200px;
    }
        grid{
            display:grid;
            grid-template-columns: 200px 200px 200px;
            grid-template-rows: 200px 200px 200px;
            grid-gap: 20px 20px 20px;
            padding: 5px;
            border: 1px black;
            border-radius: 20px;
    }
    </style>
</head>
<body>
    <div class='grid'>
        <div class='product'>
            <img src="images/local.jpg" alt = "Weldings hol.">
            <img src="images/local2.jpg" alt="Talk to us">
    </div>
</body>
</html>